<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
s

  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <script>
   function vis(){
      var myVariable = document.getElementById("myDiv").getAttribute("data-my-variable");
      document.getElementById("billed").setAttribute("src", myVariable);
    }
  </script>

</head>
<body>

<div id="myDiv" th:data-my-variable="${name.billednavn}"></div>


<p th:text="'Hello, ' + ${name.fName} +'   '+ ${name.billednavn}" />.

<input type="button" value="Vis Foto" onClick="vis()">

<img id='billed'>



</body>
</html>